<ion-content [fullscreen]="true" class="final-page">
  <div class="overlay"></div>
  <div class="container">
    <img class="logo" src="assets/images/nisan-logo-white.svg" alt="">
    <div class="content">
      <h1>{{Heading}}</h1>
    <p>{{BodyText}}</p>
    <!-- <ion-button expand="full" class="custom-button" (click)="goToWelcome()">{{ThankYou}}</ion-button>
      -->
      <img class="lock" (click)="goToWelcome()" src="assets/images/lock.svg" alt="">
      <img class="lock-overlay" (click)="goToWelcome()" src="assets/images/lock.svg" alt="">
    </div>
  </div>
</ion-content>
