<ion-content [fullscreen]="true" class="ion-padding quiz-page">
  <div class="overlay">
  <div class="container">
    <h2>{{question.text}}</h2>
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedAnswer">
        <ion-item *ngFor="let choice of question.choices">
          <ion-label>{{choice.text}}</ion-label>
          <ion-radio slot="start" [value]="choice.value"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <p *ngIf="feedback" [ngClass]="{'correct':isCorrect,'incorrect':!isCorrect}">{{feedback}}</p>
    <ion-button expand="full" class="custom-button" *ngIf="!isCorrect&&!Disable" (click)="submitAnswer()" [disabled]="!selectedAnswer">{{Submit}}</ion-button>
    <ion-button expand="full" class="custom-button secondary" *ngIf="isCorrect&&!Disable" (click)="goToNextPage()">{{Next}}</ion-button>
  </div>
</div>
</ion-content>
